numpy==2.3.0
scipy==1.15.3
meshio==5.3.5

matplotlib==3.10.8

glfw==2.10.0
PyOpenGL==3.1.10
PyOpenGL-accelerate==3.1.10

torch==2.10.0
torchaudio==2.10.0
torchvision==0.25.0

jax==0.6.2
jaxlib==0.6.2

warp-lang==1.11.1

pyvista==0.46.5
vtk==9.5.2